.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__items
      .Side-bar__user-name__name name
      .Side-bar__user-name__icon 
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    .Side-bar__group-list__name techcamp
    .Side-bar__group-list__message まだメッセージはありません
 
