* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.SideBar {
  width: 300px;
  color:#fff;
  font-weight: bold;
    .Header {
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      .Header__items {
        height: 20px;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
        .Header__items__userName {
          width: 200px;
          font-size: 16px;
          }
        .Header__items__icon {
          a {
            text-decoration: none;
            color: #fff;
            }
          }
        .fas .edit{
          padding-left: 5px;
        }
    }    
    .Header__groupList {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px;
      .Group{
        a {
          text-decoration: none;
          color: #fff;
        }
        .Group__name {
          padding: 20px 0 5px;
          font-size: 15px;
        }
        .Group__message {
          font-size:11px;
          padding-bottom: 20px;
        }
      }
    }
  }

.Main-chat {
  width: calc(100vw - 300px);
    .Header {
      background-color: #fff;
      height: 100px;
      border-bottom: 1px solid #eee;
      .TopItems {
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        &__name {
          padding: 35px 0 0px;
          &__group {
            font-size: 20px;
            color: #333;
            padding-bottom:15px;
          }
          &__member {
            font-size: 12px;
            color: #999;
            ul {
              display: flex;
              li {
                padding-left: 10px;
              }

            }
          }
        }
        &__icon {
          font-size: 16px;
          color: #38aef0;
          height: 40px;
          width: 72px;
          padding: 0 20px;
          margin-top: 28px;
          line-height: 40px;
          border: 1px solid #38aef0;
            .edit{
              text-decoration: none;
            }
            a{
              color: #38aef0;
              text-decoration: none;
            }
        }
      }
    }
    .MessageField {
      overflow: scroll;
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 35px 0 0 40px;
      .MessageBox {
        padding-bottom: 40px;
        .MessageInfo {
          display: flex;
          padding-bottom: 12px;
        }
          .MessageInfo__userName {
            color: #333;
            font-size: 16px;
          }
          .MessageInfo__date {
            color: #999;
            font-size: 12px;
            padding-left:10px;
          }
        .Message {
          color: #434a54;
          font-size: 14px;
        }
      }
    }
    .Footer{
      background-color: #d2d2d2;
      height: 90px;
      .form {
        display: flex;
        padding: 20px 40px;
        .Form__contents {
          position: relative;
          width: 100%;
          .Form__inputContent {
            height: 50px;
            border: none;
            padding: 0 10px;
            width: 100%;
          }
          .image-icon {
            font-size: 1.5em;
            position: absolute;
            top: 10px;
            right: 10px;
            .file {
              display: none;
            }
          }
        }
        .send {
          background-color: #38aef0;
          color: #fff;
          font-size: 16px;
          padding: 0 30px;
          height: 50px;
          border: none;
          margin-left:15px;
        }
      }
    }
}
